<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.startEvent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.examples.bpmn.ttc2013.queries.util.StartEventQuerySpecification$Provider"
            id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.startEvent">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.endEvent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.examples.bpmn.ttc2013.queries.util.EndEventQuerySpecification$Provider"
            id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.endEvent">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.tokenOnElement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.examples.bpmn.ttc2013.queries.util.TokenOnElementQuerySpecification$Provider"
            id="org.eclipse.incquery.examples.bpmn.ttc2013.queries.tokenOnElement">
      </matcher>
   </extension>

</plugin>
