<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="almafa.queryPattern"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="almafa.querypattern.QueryPatternMatcherFactory"
            id="almafa.queryPattern">
      </matcher>
   </extension>
   <extension
         id="queryPattern"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="querypattern.QueryPatternMatcherFactory"
            id="queryPattern">
      </matcher>
   </extension>
   <extension
         id="query.dependedBy"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="query.dependedby.DependedByMatcherFactory"
            id="query.dependedBy">
      </matcher>
   </extension>
   <extension
         id="query.dependedByTran"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="query.dependedbytran.DependedByTranMatcherFactory"
            id="query.dependedByTran">
      </matcher>
   </extension>
   <extension
         id="query.dependedComponents"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="query.dependedcomponents.DependedComponentsMatcherFactory"
            id="query.dependedComponents">
      </matcher>
   </extension>
   <extension
         id="queryt.dependedBy"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="queryt.dependedby.DependedByMatcherFactory"
            id="queryt.dependedBy">
      </matcher>
   </extension>
   <extension
         id="queryt.dependedComponents"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="queryt.dependedcomponents.DependedComponentsMatcherFactory"
            id="queryt.dependedComponents">
      </matcher>
   </extension>

</plugin>
