<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="generated.incquery.validation.menu.derivedModels.editor"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:derivedModels.editor">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="generated.incquery.validation.menu.org.eclipse.emf.ecore.editor"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecore.editor">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidators"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="validation.constraint.operation.queries.IncorrectEntryInChecklist"
         name=""
         point="org.eclipse.viatra2.emf.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.IncorrectEntryInChecklist"
            class="operation.queries.incorrectentryinchecklist.IncorrectEntryInChecklistConstraint">
      </constraint>
   </extension>
   <extension
         id="generated.incquery.validation.menu.process.presentation.ProcessEditorID"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:process.presentation.ProcessEditorID">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidatorsOnEditor"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="generated.incquery.validation.menu.system.presentation.SystemEditorID"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:system.presentation.SystemEditorID">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidatorsOnEditor"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="generated.incquery.validation.menu.operation.presentation.OperationEditorID"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:operation.presentation.OperationEditorID">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidatorsOnEditor"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="generated.incquery.validation.menu.org.eclipse.emf.ecore.presentation.EcoreEditorID"
         name=""
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecore.presentation.EcoreEditorID">
         <menu
               label="EMF-IncQuery">
            <command
                  commandId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.initValidatorsOnEditor"
                  label="Initialize EMF-IncQuery Validators"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra2.emf.incquery.validation.runtime.ui.notifierdef">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.TaskChecklistEntryJobCorrespondence"
            class="operation.queries.taskchecklistentryjobcorrespondence.TaskChecklistEntryJobCorrespondenceConstraint">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.operation.queries.DataReadByChecklistEntry"
         name=""
         point="org.eclipse.viatra2.emf.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.DataReadByChecklistEntry"
            class="operation.queries.datareadbychecklistentry.DataReadByChecklistEntryConstraint">
      </constraint>
   </extension>
   <extension
         id="validation.constraint.system.queries.UndefinedServiceTasks"
         point="org.eclipse.viatra2.emf.incquery.validation.runtime.constraint">
      <constraint
            name="system.queries.UndefinedServiceTasks"
            class="system.queries.undefinedservicetasks.UndefinedServiceTasksConstraint">
      </constraint>
   </extension>

</plugin>
