<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="validation.constraint.system.queries.UndefinedServiceTasks"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="system.queries.UndefinedServiceTasks"
            class="system.queries.undefinedservicetasks.UndefinedServiceTasksConstraint0">
         <enabledForEditor
               editorId="process.presentation.ProcessEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="system.presentation.SystemEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="operation.presentation.OperationEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.operation.queries.IncorrectEntryInChecklist"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.IncorrectEntryInChecklist"
            class="operation.queries.incorrectentryinchecklist.IncorrectEntryInChecklistConstraint0">
         <enabledForEditor
               editorId="process.presentation.ProcessEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="system.presentation.SystemEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="operation.presentation.OperationEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.TaskChecklistEntryJobCorrespondence"
            class="operation.queries.taskchecklistentryjobcorrespondence.TaskChecklistEntryJobCorrespondenceConstraint0">
         <enabledForEditor
               editorId="process.presentation.ProcessEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="system.presentation.SystemEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="operation.presentation.OperationEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.operation.queries.DataReadByChecklistEntry"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="operation.queries.DataReadByChecklistEntry"
            class="operation.queries.datareadbychecklistentry.DataReadByChecklistEntryConstraint0">
         <enabledForEditor
               editorId="process.presentation.ProcessEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="system.presentation.SystemEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="operation.presentation.OperationEditorID">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID">
         </enabledForEditor>
      </constraint>
   </extension>

</plugin>
