<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.notConnectedClient"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.NotConnectedClientQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.notConnectedClient">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.noCycle"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.NoCycleQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.noCycle">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.uniqueNameConstraint"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.UniqueNameConstraintQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.uniqueNameConstraint">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.connectedClient"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.ConnectedClientQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.connectedClient">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.linked"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.LinkedQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.linked">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.transitiveClosureOfLinked"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra2.emf.incquery.stochsim.patterns.util.TransitiveClosureOfLinkedQuerySpecification$Provider"
            id="org.eclipse.viatra2.emf.incquery.stochsim.patterns.transitiveClosureOfLinked">
      </matcher>
   </extension>

</plugin>
