<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.jnect.bodymodel.BodymodelPackage"
            genModel="model/bodymodel.genmodel"
            uri="http://org/jnect/bodymodel"/>
   </extension>

</plugin>
