<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="coursesOfTeacherWithMostCourses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="coursesofteacherwithmostcourses.CoursesOfTeacherWithMostCoursesMatcherFactory"
            id="coursesOfTeacherWithMostCourses">
      </matcher>
   </extension>
   <extension
         id="classesOfLastYear"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="classesoflastyear.ClassesOfLastYearMatcherFactory"
            id="classesOfLastYear">
      </matcher>
   </extension>
   <extension
         id="schoolWithMostTeachers"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="schoolwithmostteachers.SchoolWithMostTeachersMatcherFactory"
            id="schoolWithMostTeachers">
      </matcher>
   </extension>
   <extension
         id="moreTeachers"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="moreteachers.MoreTeachersMatcherFactory"
            id="moreTeachers">
      </matcher>
   </extension>

</plugin>
