<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
     <!-- <command
            defaultHandler="org.jnect.demo.incquery.StartIncQueryDemoHandler"
            id="org.jnect.demo.incquery.start"
            name="Start Kinect IncQuery Demo">
      </command> -->
      <command
            defaultHandler="org.jnect.demo.incquery.views.StartYMCADemoHandler"
            id="org.jnect.demo.incquery.ymca.start"
            name="Start Kinect IncQuery Raw Output">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.StartYMCADemoHandler"
            id="org.jnect.demo.incquery.esperymca.start"
            name="Start Kinect IncQuery Esper YMCA Demo">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.StopYMCADemoHandler"
            id="org.jnect.demo.incquery.esperymca.stop"
            name="Stop Kinect IncQuery Esper YMCA Demo">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.robot.StartRobotDemoHandler"
            id="org.jnect.demo.incquery.robot.start"
            name="Start Kinect IncQuery Esper Robot Demo">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.robot.StopRobotDemoHandler"
            id="org.jnect.demo.incquery.robot.stop"
            name="Stop Kinect IncQuery Esper Robot Demo">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.StartEsperDebugHandler"
            id="org.jnect.demo.incquery.esper.debug"
            name="Start Kinect IncQuery Esper Debug">
      </command>
       <command
            defaultHandler="org.jnect.demo.incquery.esper.StartEsperDemoHandler"
            id="org.jnect.demo.incquery.esper.start"
            name="Start Kinect IncQuery Esper Output">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.StartCombinedYMCADemoHandler"
            id="org.jnect.demo.incquery.esperymca.start.combined"
            name="IDDQD Start Kinect IncQuery Esper YMCA Demo (Combined)">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.esper.robot.StartCombinedRobotDemoHandler"
            id="org.jnect.demo.incquery.robot.start.combined"
            name="IDKFA Start Kinect IncQuery Robot YMCA Demo (Combined)">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.SaveBodymodelHandler"
            id="org.jnect.demo.incquery.savebodymodel"
            name="Save Kinect Body model">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.LoadBodymodelHandler"
            id="org.jnect.demo.incquery.loadbodymodel"
            name="Load Kinect Body model">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.gef3d.RefreshGef3DHandler"
            id="org.jnect.demo.incquery.refreshgef3d"
            name="Refresh GEF3D">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.sheldon.SendSheldonMessageHandler"
            id="org.jnect.demo.incquery.sheldon"
            name="Send Sheldon Message">
      </command>
      <command
            defaultHandler="org.jnect.demo.incquery.sheldon.StartCombinedSheldonDemoHandler"
            id="org.jnect.demo.incquery.sheldon.start.combined"
            name="IDBEHOLD Start Kinect IncQuery Sheldon Demo (Combined)">
      </command>
   </extension>
   <!--
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.jnect.demo.incquery">
            <command
                  commandId="org.jnect.demo.incquery.robot.start.combined"
                  style="push">
            </command>
            <command
                  commandId="org.jnect.demo.incquery.esperymca.start.combined"
                  style="push">
            </command>
            <command
                  commandId="org.jnect.demo.incquery.savebodymodel"
                  style="push">
            </command>
            <command
                  commandId="org.jnect.demo.incquery.refreshgef3d"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   -->
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.jnect.demo.incquery.savebodymodel"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+Q">
    </key>
    <key
          commandId="org.jnect.demo.incquery.loadbodymodel"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="CTRL+SHIFT+L">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <category
          id="org.jnect.demo.incquery"
          name="Jnect/IncQuery Demos">
    </category>
    <view
          category="org.jnect.demo.incquery"
          class="org.jnect.demo.incquery.views.YMCADemoView"
          icon="icons/sample.gif"
          id="org.jnect.demo.incquery.views.YMCADemoView"
          name="Jnect/IncQuery/Esper YMCA Demo">
    </view>
    <!-- <view
          category="org.jnect.demo.incquery"
          class="org.jnect.demo.incquery.gef3d.Jnect3DView"
          icon="icons/sample.gif"
          id="org.jnect.demo.incquery.views.GEF3DView"
          name="Jnect GEF3D View">
    </view> -->
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.jdt.ui.JavaPerspective">
       <view
             id="org.jnect.demo.incquery.views.YMCADemoView"
             ratio="0.5"
             relationship="right"
             relative="org.eclipse.ui.views.ProblemView">
       </view>
    </perspectiveExtension>
 </extension>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jnect.demo.incquery.gef3d.Jnect3DEditor"
            default="true"
            extensions="humanbodymodel3d"
            id="HumanDiagramGEF3D.editorID"
            name="Human Diagram GEF3D">
      </editor>
   </extension>
</plugin>
