<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="ChecklistEntry"
            feature-name="jobs"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistEntryTaskCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="ChecklistEntry"
            feature-name="task"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistProcessCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Checklist"
            feature-name="process"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.system.queries.JobTaskCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Job"
            feature-name="tasks"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.system.queries.DataTaskReadCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Data"
            feature-name="readingTask"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.system.queries.DataTaskWriteCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Data"
            feature-name="writingTask"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="extension.derived.system.queries.JobInfoCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Job"
            feature-name="info"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="operation.queries.ChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.checklistentryjobcorrespondence.ChecklistEntryJobCorrespondenceMatcherFactory"
            id="operation.queries.ChecklistEntryJobCorrespondence">
      </matcher>
   </extension>
   <extension
         id="operation.queries.ChecklistEntryTaskCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.checklistentrytaskcorrespondence.ChecklistEntryTaskCorrespondenceMatcherFactory"
            id="operation.queries.ChecklistEntryTaskCorrespondence">
      </matcher>
   </extension>
   <extension
         id="operation.queries.ChecklistProcessCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.checklistprocesscorrespondence.ChecklistProcessCorrespondenceMatcherFactory"
            id="operation.queries.ChecklistProcessCorrespondence">
      </matcher>
   </extension>
   <extension
         id="operation.queries.IncorrectEntryInChecklist"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.incorrectentryinchecklist.IncorrectEntryInChecklistMatcherFactory"
            id="operation.queries.IncorrectEntryInChecklist">
      </matcher>
   </extension>
   <extension
         id="operation.queries.TaskChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.taskchecklistentryjobcorrespondence.TaskChecklistEntryJobCorrespondenceMatcherFactory"
            id="operation.queries.TaskChecklistEntryJobCorrespondence">
      </matcher>
   </extension>
   <extension
         id="operation.queries.DataReadByChecklistEntry"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="operation.queries.datareadbychecklistentry.DataReadByChecklistEntryMatcherFactory"
            id="operation.queries.DataReadByChecklistEntry">
      </matcher>
   </extension>
   <extension
         id="system.queries.JobTaskCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.jobtaskcorrespondence.JobTaskCorrespondenceMatcherFactory"
            id="system.queries.JobTaskCorrespondence">
      </matcher>
   </extension>
   <extension
         id="system.queries.DataTaskReadCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.datataskreadcorrespondence.DataTaskReadCorrespondenceMatcherFactory"
            id="system.queries.DataTaskReadCorrespondence">
      </matcher>
   </extension>
   <extension
         id="system.queries.DataTaskWriteCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.datataskwritecorrespondence.DataTaskWriteCorrespondenceMatcherFactory"
            id="system.queries.DataTaskWriteCorrespondence">
      </matcher>
   </extension>
   <extension
         id="system.queries.JobInfoCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.jobinfocorrespondence.JobInfoCorrespondenceMatcherFactory"
            id="system.queries.JobInfoCorrespondence">
      </matcher>
   </extension>
   <extension
         id="system.queries.UndefinedServiceTasks"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.undefinedservicetasks.UndefinedServiceTasksMatcherFactory"
            id="system.queries.UndefinedServiceTasks">
      </matcher>
   </extension>
   <extension
         id="system.queries.TasksAffectedThroughData"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.tasksaffectedthroughdata.TasksAffectedThroughDataMatcherFactory"
            id="system.queries.TasksAffectedThroughData">
      </matcher>
   </extension>
   <extension
         id="system.queries.TransitiveAffectedTasksThroughData"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="system.queries.transitiveaffectedtasksthroughdata.TransitiveAffectedTasksThroughDataMatcherFactory"
            id="system.queries.TransitiveAffectedTasksThroughData">
      </matcher>
   </extension>

</plugin>
