<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="operation.queries.ChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.ChecklistEntryJobCorrespondence"
            factoryProvider="operation.queries.checklistentryjobcorrespondence.ChecklistEntryJobCorrespondenceMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="ChecklistEntry"
            feature-name="jobs"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="operation.queries.ChecklistEntryTaskCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.ChecklistEntryTaskCorrespondence"
            factoryProvider="operation.queries.checklistentrytaskcorrespondence.ChecklistEntryTaskCorrespondenceMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistEntryTaskCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="ChecklistEntry"
            feature-name="task"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="operation.queries.ChecklistProcessCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.ChecklistProcessCorrespondence"
            factoryProvider="operation.queries.checklistprocesscorrespondence.ChecklistProcessCorrespondenceMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="extension.derived.operation.queries.ChecklistProcessCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Checklist"
            feature-name="process"
            package-nsUri="http://operation/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="operation.queries.IncorrectEntryInChecklist"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.IncorrectEntryInChecklist"
            factoryProvider="operation.queries.incorrectentryinchecklist.IncorrectEntryInChecklistMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="operation.queries.TaskChecklistEntryJobCorrespondence"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.TaskChecklistEntryJobCorrespondence"
            factoryProvider="operation.queries.taskchecklistentryjobcorrespondence.TaskChecklistEntryJobCorrespondenceMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="operation.queries.DataReadByChecklistEntry"
         name=""
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="operation.queries.DataReadByChecklistEntry"
            factoryProvider="operation.queries.datareadbychecklistentry.DataReadByChecklistEntryMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="system.queries.JobTaskCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.jobtaskcorrespondence.JobTaskCorrespondenceMatcherFactory$Provider"
            id="system.queries.JobTaskCorrespondence">
      </matcher>
   </extension>
   <extension
         id="extension.derived.system.queries.JobTaskCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Job"
            feature-name="tasks"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="system.queries.DataTaskReadCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.datataskreadcorrespondence.DataTaskReadCorrespondenceMatcherFactory$Provider"
            id="system.queries.DataTaskReadCorrespondence">
      </matcher>
   </extension>
   <extension
         id="extension.derived.system.queries.DataTaskReadCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Data"
            feature-name="readingTask"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="system.queries.DataTaskWriteCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.datataskwritecorrespondence.DataTaskWriteCorrespondenceMatcherFactory$Provider"
            id="system.queries.DataTaskWriteCorrespondence">
      </matcher>
   </extension>
   <extension
         id="extension.derived.system.queries.DataTaskWriteCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Data"
            feature-name="writingTask"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="system.queries.JobInfoCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.jobinfocorrespondence.JobInfoCorrespondenceMatcherFactory$Provider"
            id="system.queries.JobInfoCorrespondence">
      </matcher>
   </extension>
   <extension
         id="extension.derived.system.queries.JobInfoCorrespondence"
         point="org.eclipse.viatra2.emf.incquery.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Job"
            feature-name="info"
            package-nsUri="http://system/1.0">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="system.queries.UndefinedServiceTasks"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.undefinedservicetasks.UndefinedServiceTasksMatcherFactory$Provider"
            id="system.queries.UndefinedServiceTasks">
      </matcher>
   </extension>
   <extension
         id="system.queries.TasksAffectedThroughData"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.tasksaffectedthroughdata.TasksAffectedThroughDataMatcherFactory$Provider"
            id="system.queries.TasksAffectedThroughData">
      </matcher>
   </extension>
   <extension
         id="system.queries.TransitiveAffectedTasksThroughData"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="system.queries.transitiveaffectedtasksthroughdata.TransitiveAffectedTasksThroughDataMatcherFactory$Provider"
            id="system.queries.TransitiveAffectedTasksThroughData">
      </matcher>
   </extension>

</plugin>
