<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="validation.constraint.uml.emptyclass.emptyClass"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="uml.emptyclass.emptyClass"
            class="uml.emptyclass.emptyclass.EmptyClassConstraint2">
         <enabledForEditor
               editorId="org.eclipse.papyrus.infra.core.papyrusEditor">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.uml.statemachine.operationWithoutBehaviour"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="uml.statemachine.operationWithoutBehaviour"
            class="uml.statemachine.operationwithoutbehaviour.OperationWithoutBehaviourConstraint0">
         <enabledForEditor
               editorId="org.eclipse.papyrus.infra.core.papyrusEditor">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.uml.statemachine.OpaqueBehaviorWithoutOperation"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="uml.statemachine.OpaqueBehaviorWithoutOperation"
            class="uml.statemachine.opaquebehaviorwithoutoperation.OpaqueBehaviorWithoutOperationConstraint0">
         <enabledForEditor
               editorId="org.eclipse.papyrus.infra.core.papyrusEditor">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.uml.statemachine.receptionWithoutAction"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="uml.statemachine.receptionWithoutAction"
            class="uml.statemachine.receptionwithoutaction.ReceptionWithoutActionConstraint0">
         <enabledForEditor
               editorId="org.eclipse.papyrus.infra.core.papyrusEditor">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </enabledForEditor>
      </constraint>
   </extension>
   <extension
         id="validation.constraint.uml.statemachine.incompatibleSpecification"
         point="org.eclipse.incquery.validation.runtime.constraint">
      <constraint
            name="uml.statemachine.incompatibleSpecification"
            class="uml.statemachine.incompatiblespecification.IncompatibleSpecificationConstraint0">
         <enabledForEditor
               editorId="org.eclipse.papyrus.infra.core.papyrusEditor">
         </enabledForEditor>
         <enabledForEditor
               editorId="org.eclipse.uml2.uml.editor.presentation.UMLEditorID">
         </enabledForEditor>
      </constraint>
   </extension>

</plugin>
