<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceComponentNames"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueservicecomponentnames.UniqueServiceComponentNamesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceComponentNames">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceMethodSignature"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueservicemethodsignature.UniqueServiceMethodSignatureMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceMethodSignature">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.RestMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.restmethods.RestMethodsMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.RestMethods">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.AllRestMethods"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.allrestmethods.AllRestMethodsMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.AllRestMethods">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueParameterName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueparametername.UniqueParameterNameMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueParameterName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueDataTypeNames"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniquedatatypenames.UniqueDataTypeNamesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueDataTypeNames">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueEntityNames"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueentitynames.UniqueEntityNamesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueEntityNames">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueAttributeName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueattributename.UniqueAttributeNameMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueAttributeName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.EntityIDNotAttributeOfTheEntity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.entityidnotattributeoftheentity.EntityIDNotAttributeOfTheEntityMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.EntityIDNotAttributeOfTheEntity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueEnumLiteralNames"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueenumliteralnames.UniqueEnumLiteralNamesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueEnumLiteralNames">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.CollectionTypes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.collectiontypes.CollectionTypesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.CollectionTypes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.CollectionTypesInTheArchitecture"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.collectiontypesinthearchitecture.CollectionTypesInTheArchitectureMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.CollectionTypesInTheArchitecture">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.SOAArchitectureTypes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.soaarchitecturetypes.SOAArchitectureTypesMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.SOAArchitectureTypes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.SOAServiceComponent"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.soaservicecomponent.SOAServiceComponentMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.SOAServiceComponent">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.DataTypesAndComponentsInTheArchitecture"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.datatypesandcomponentsinthearchitecture.DataTypesAndComponentsInTheArchitectureMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.DataTypesAndComponentsInTheArchitecture">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceComponentURIAndNamespace"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueservicecomponenturiandnamespace.UniqueServiceComponentURIAndNamespaceMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueServiceComponentURIAndNamespace">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueCollections"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniquecollections.UniqueCollectionsMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueCollections">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.UniqueEnumLiteralIDs"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.uniqueenumliteralids.UniqueEnumLiteralIDsMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.UniqueEnumLiteralIDs">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.ServiceMethodDescriptionUnfinished"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.servicemethoddescriptionunfinished.ServiceMethodDescriptionUnfinishedMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.ServiceMethodDescriptionUnfinished">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.OCLConstraintDescriptionUnfinished"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.oclconstraintdescriptionunfinished.OCLConstraintDescriptionUnfinishedMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.OCLConstraintDescriptionUnfinished">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.inf.gs.dsl.validators.SuperType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.inf.gs.dsl.validators.supertype.SuperTypeMatcherFactory"
            id="hu.bme.mit.inf.gs.dsl.validators.SuperType">
      </matcher>
   </extension>

</plugin>
