<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="net.istvanrath.emfxcel.incquery.demo.AgazatiHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.AgazatiHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.AgazatiHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.OnlabosHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.OnlabosHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.OnlabosHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITOnlabosHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITOnlabosHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITOnlabosHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.NemVetteFelAzOnlabot"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.NemVetteFelAzOnlabotQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.NemVetteFelAzOnlabot">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.KakukkFioka"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.KakukkFiokaQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.KakukkFioka">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITreAtSlisszolt"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITreAtSlisszoltQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITreAtSlisszolt">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITKakukkfioka"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITKakukkfiokaQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITKakukkfioka">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.lib.CellInWorkSheet"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.lib.util.CellInWorkSheetQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.lib.CellInWorkSheet">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.lib.NamedColumn"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.lib.util.NamedColumnQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.lib.NamedColumn">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.lib.valueInNamedColumn"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.lib.util.ValueInNamedColumnQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.lib.valueInNamedColumn">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.student"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.StudentQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.student">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.enrolledStudent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.EnrolledStudentQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.enrolledStudent">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.didNotApplyForAnyCourse"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.DidNotApplyForAnyCourseQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.didNotApplyForAnyCourse">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.appliedToMultipleCourses"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.AppliedToMultipleCoursesQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.appliedToMultipleCourses">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.inconsistentCourse"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.InconsistentCourseQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.inconsistentCourse">
      </matcher>
   </extension>

</plugin>
