<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="net.istvanrath.emfxcel.incquery.demo.AgazatiHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.AgazatiHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.AgazatiHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.OnlabosHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.OnlabosHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.OnlabosHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITOnlabosHallgato"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITOnlabosHallgatoQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITOnlabosHallgato">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.NemVetteFelAzOnlabot"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.NemVetteFelAzOnlabotQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.NemVetteFelAzOnlabot">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.KakukkFioka"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.KakukkFiokaQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.KakukkFioka">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITreAtSlisszolt"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITreAtSlisszoltQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITreAtSlisszolt">
      </matcher>
   </extension>
   <extension
         id="net.istvanrath.emfxcel.incquery.demo.IITKakukkfioka"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="net.istvanrath.emfxcel.incquery.demo.util.IITKakukkfiokaQuerySpecification$Provider"
            id="net.istvanrath.emfxcel.incquery.demo.IITKakukkfioka">
      </matcher>
   </extension>

</plugin>
