<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="net.istvanrath.emfxcel.incquery.demo.SzakiranyDemo" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:net.istvanrath.emfxcel.incquery.demo.SzakiranyDemo" id="net.istvanrath.emfxcel.incquery.demo.SzakiranyDemo"/>
  </extension>
  <extension id="net.istvanrath.emfxcel.incquery.demo.StudentsCourses" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:net.istvanrath.emfxcel.incquery.demo.StudentsCourses" id="net.istvanrath.emfxcel.incquery.demo.StudentsCourses"/>
  </extension>
  <extension id="net.istvanrath.emfxcel.incquery.lib.ExcelQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:net.istvanrath.emfxcel.incquery.lib.ExcelQueries" id="net.istvanrath.emfxcel.incquery.lib.ExcelQueries"/>
  </extension>
</plugin>
