<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="uml.inheritanceDiamond"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.inheritancediamond.InheritanceDiamondMatcherFactory$Provider"
            id="uml.inheritanceDiamond">
      </matcher>
   </extension>
   <extension
         id="uml.inheritanceDiamond"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="uml.inheritancediamond.InheritanceDiamondEvaluator1_1"
            id="uml.inheritanceDiamond_1_1">
      </evaluator>
   </extension>
   <extension
         id="uml.messageWithoutAssociation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.messagewithoutassociation.MessageWithoutAssociationMatcherFactory$Provider"
            id="uml.messageWithoutAssociation">
      </matcher>
   </extension>
   <extension
         id="uml.unreferencedClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.unreferencedclass.UnreferencedClassMatcherFactory$Provider"
            id="uml.unreferencedClass">
      </matcher>
   </extension>
   <extension
         id="uml.classWithID"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.classwithid.ClassWithIDMatcherFactory$Provider"
            id="uml.classWithID">
      </matcher>
   </extension>
   <extension
         id="uml.directSuperClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.directsuperclass.DirectSuperClassMatcherFactory$Provider"
            id="uml.directSuperClass">
      </matcher>
   </extension>
   <extension
         id="uml.transitiveSuperClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.transitivesuperclass.TransitiveSuperClassMatcherFactory$Provider"
            id="uml.transitiveSuperClass">
      </matcher>
   </extension>
   <extension
         id="uml.superOrEqualClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.superorequalclass.SuperOrEqualClassMatcherFactory$Provider"
            id="uml.superOrEqualClass">
      </matcher>
   </extension>
   <extension
         id="uml.ownsOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.ownsoperation.OwnsOperationMatcherFactory$Provider"
            id="uml.ownsOperation">
      </matcher>
   </extension>
   <extension
         id="uml.ownsProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.ownsproperty.OwnsPropertyMatcherFactory$Provider"
            id="uml.ownsProperty">
      </matcher>
   </extension>
   <extension
         id="uml.hasOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.hasoperation.HasOperationMatcherFactory$Provider"
            id="uml.hasOperation">
      </matcher>
   </extension>
   <extension
         id="uml.hasProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.hasproperty.HasPropertyMatcherFactory$Provider"
            id="uml.hasProperty">
      </matcher>
   </extension>
   <extension
         id="uml.hasType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.hastype.HasTypeMatcherFactory$Provider"
            id="uml.hasType">
      </matcher>
   </extension>
   <extension
         id="uml.hasName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.hasname.HasNameMatcherFactory$Provider"
            id="uml.hasName">
      </matcher>
   </extension>
   <extension
         id="uml.messageEndType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.messageendtype.MessageEndTypeMatcherFactory$Provider"
            id="uml.messageEndType">
      </matcher>
   </extension>
   <extension
         id="uml.associationEndType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.associationendtype.AssociationEndTypeMatcherFactory$Provider"
            id="uml.associationEndType">
      </matcher>
   </extension>
   <extension
         id="uml.potentialAssociationBetween"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.potentialassociationbetween.PotentialAssociationBetweenMatcherFactory$Provider"
            id="uml.potentialAssociationBetween">
      </matcher>
   </extension>
   <extension
         id="uml.messageEvents"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.messageevents.MessageEventsMatcherFactory$Provider"
            id="uml.messageEvents">
      </matcher>
   </extension>
   <extension
         id="uml.usedTriggerSignals"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.usedtriggersignals.UsedTriggerSignalsMatcherFactory$Provider"
            id="uml.usedTriggerSignals">
      </matcher>
   </extension>
   <extension
         id="uml.eventForTrigger"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.eventfortrigger.EventForTriggerMatcherFactory$Provider"
            id="uml.eventForTrigger">
      </matcher>
   </extension>
   <extension
         id="uml.operationWithoutBehaviour"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.operationwithoutbehaviour.OperationWithoutBehaviourMatcherFactory$Provider"
            id="uml.operationWithoutBehaviour">
      </matcher>
   </extension>
   <extension
         id="uml.OpaqueBehaviorWithoutOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.opaquebehaviorwithoutoperation.OpaqueBehaviorWithoutOperationMatcherFactory$Provider"
            id="uml.OpaqueBehaviorWithoutOperation">
      </matcher>
   </extension>
   <extension
         id="uml.receptionWithoutAction"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.receptionwithoutaction.ReceptionWithoutActionMatcherFactory$Provider"
            id="uml.receptionWithoutAction">
      </matcher>
   </extension>
   <extension
         id="uml.incompatibleSpecification"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.incompatiblespecification.IncompatibleSpecificationMatcherFactory$Provider"
            id="uml.incompatibleSpecification">
      </matcher>
   </extension>
   <extension
         id="uml.parameterOfOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.parameterofoperation.ParameterOfOperationMatcherFactory$Provider"
            id="uml.parameterOfOperation">
      </matcher>
   </extension>
   <extension
         id="uml.parameterOfBehavior"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.parameterofbehavior.ParameterOfBehaviorMatcherFactory$Provider"
            id="uml.parameterOfBehavior">
      </matcher>
   </extension>

</plugin>
