<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="uml.validation.superClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.validation.superclass.SuperClassMatcherFactory$Provider"
            id="uml.validation.superClass">
      </matcher>
   </extension>
   <extension
         id="uml.validation.superOrEqualClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.validation.superorequalclass.SuperOrEqualClassMatcherFactory$Provider"
            id="uml.validation.superOrEqualClass">
      </matcher>
   </extension>
   <extension
         id="uml.validation.ownsOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.validation.ownsoperation.OwnsOperationMatcherFactory$Provider"
            id="uml.validation.ownsOperation">
      </matcher>
   </extension>
   <extension
         id="uml.validation.ownsProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.validation.ownsproperty.OwnsPropertyMatcherFactory$Provider"
            id="uml.validation.ownsProperty">
      </matcher>
   </extension>
   <extension
         id="uml.validation.hasOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.validation.hasoperation.HasOperationMatcherFactory$Provider"
            id="uml.validation.hasOperation">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.inheritanceDiamond"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.inheritancediamond.InheritanceDiamondMatcherFactory$Provider"
            id="uml.sequencediagram.inheritanceDiamond">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.inheritanceDiamond"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="uml.sequencediagram.inheritancediamond.InheritanceDiamondEvaluator1_1"
            id="uml.sequencediagram.inheritanceDiamond_1_1">
      </evaluator>
   </extension>
   <extension
         id="uml.sequencediagram.messageWithoutAssociation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.messagewithoutassociation.MessageWithoutAssociationMatcherFactory$Provider"
            id="uml.sequencediagram.messageWithoutAssociation">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.unreferencedClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.unreferencedclass.UnreferencedClassMatcherFactory$Provider"
            id="uml.sequencediagram.unreferencedClass">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.directSuperClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.directsuperclass.DirectSuperClassMatcherFactory$Provider"
            id="uml.sequencediagram.directSuperClass">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.transitiveSuperClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.transitivesuperclass.TransitiveSuperClassMatcherFactory$Provider"
            id="uml.sequencediagram.transitiveSuperClass">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.superOrEqualClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.superorequalclass.SuperOrEqualClassMatcherFactory$Provider"
            id="uml.sequencediagram.superOrEqualClass">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.ownsOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.ownsoperation.OwnsOperationMatcherFactory$Provider"
            id="uml.sequencediagram.ownsOperation">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.ownsProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.ownsproperty.OwnsPropertyMatcherFactory$Provider"
            id="uml.sequencediagram.ownsProperty">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.hasOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.hasoperation.HasOperationMatcherFactory$Provider"
            id="uml.sequencediagram.hasOperation">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.hasProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.hasproperty.HasPropertyMatcherFactory$Provider"
            id="uml.sequencediagram.hasProperty">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.hasType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.hastype.HasTypeMatcherFactory$Provider"
            id="uml.sequencediagram.hasType">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.hasName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.hasname.HasNameMatcherFactory$Provider"
            id="uml.sequencediagram.hasName">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.messageEndType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.messageendtype.MessageEndTypeMatcherFactory$Provider"
            id="uml.sequencediagram.messageEndType">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.associationEndType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.associationendtype.AssociationEndTypeMatcherFactory$Provider"
            id="uml.sequencediagram.associationEndType">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.potentialAssociationBetween"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.potentialassociationbetween.PotentialAssociationBetweenMatcherFactory$Provider"
            id="uml.sequencediagram.potentialAssociationBetween">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.messageEvents"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.messageevents.MessageEventsMatcherFactory$Provider"
            id="uml.sequencediagram.messageEvents">
      </matcher>
   </extension>
   <extension
         id="uml.sequencediagram.propertyNumberOfClassInPackage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.sequencediagram.propertynumberofclassinpackage.PropertyNumberOfClassInPackageMatcherFactory$Provider"
            id="uml.sequencediagram.propertyNumberOfClassInPackage">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.usedTriggerSignals"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.usedTriggerSignals"
            factoryProvider="uml.statemachine.usedtriggersignals.UsedTriggerSignalsMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.eventForTrigger"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.eventForTrigger"
            factoryProvider="uml.statemachine.eventfortrigger.EventForTriggerMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.operationWithoutBehaviour"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.operationWithoutBehaviour"
            factoryProvider="uml.statemachine.operationwithoutbehaviour.OperationWithoutBehaviourMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.OpaqueBehaviorWithoutOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.OpaqueBehaviorWithoutOperation"
            factoryProvider="uml.statemachine.opaquebehaviorwithoutoperation.OpaqueBehaviorWithoutOperationMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.receptionWithoutAction"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.receptionWithoutAction"
            factoryProvider="uml.statemachine.receptionwithoutaction.ReceptionWithoutActionMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.incompatibleSpecification"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.incompatibleSpecification"
            factoryProvider="uml.statemachine.incompatiblespecification.IncompatibleSpecificationMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.parameterOfOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.parameterOfOperation"
            factoryProvider="uml.statemachine.parameterofoperation.ParameterOfOperationMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.statemachine.parameterOfBehavior"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="uml.statemachine.parameterOfBehavior"
            factoryProvider="uml.statemachine.parameterofbehavior.ParameterOfBehaviorMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.superClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.superclass.SuperClassMatcherFactory$Provider"
            id="uml.emptyclass.superClass">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.superOrEqualClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.superorequalclass.SuperOrEqualClassMatcherFactory$Provider"
            id="uml.emptyclass.superOrEqualClass">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.ownsOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.ownsoperation.OwnsOperationMatcherFactory$Provider"
            id="uml.emptyclass.ownsOperation">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.ownsProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.ownsproperty.OwnsPropertyMatcherFactory$Provider"
            id="uml.emptyclass.ownsProperty">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.hasOperation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.hasoperation.HasOperationMatcherFactory$Provider"
            id="uml.emptyclass.hasOperation">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.hasProperty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.hasproperty.HasPropertyMatcherFactory$Provider"
            id="uml.emptyclass.hasProperty">
      </matcher>
   </extension>
   <extension
         id="uml.emptyclass.emptyClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="uml.emptyclass.emptyclass.EmptyClassMatcherFactory$Provider"
            id="uml.emptyclass.emptyClass">
      </matcher>
   </extension>

</plugin>
