<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="network.QuerySandbox" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:network.QuerySandbox" id="network.QuerySandbox"/>
  </extension>
</plugin>
