<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="network.MutualFriends"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="network.mutualfriends.MutualFriendsQuerySpecification$Provider"
            id="network.MutualFriends">
      </matcher>
   </extension>

</plugin>
