<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint.ThisIsEIntMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseintconcise.ThisIsEIntConciseMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint2.ThisIsEInt2MatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint2.ThisIsEInt2Evaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint3nomatch.ThisIsEInt3NoMatchMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint3nomatch.ThisIsEInt3NoMatchEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseintbuggycheckwithexpectedexception.ThisIsEIntBuggycheckWithExpectedExceptionMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseintbuggycheckwithexpectedexception.ThisIsEIntBuggycheckWithExpectedExceptionEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseinttwice.ThisIsEIntTwiceMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.thisisnoteint.ThisIsNotEIntMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.hasass.HasAssMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.hasass.HasAssEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.eclassattribute.EClassAttributeMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.numberofattributes.NumberOfAttributesMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.withtwoattributes.WithTwoAttributesMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.howmanyattributesofagiventype.HowManyAttributesOfAGivenTypeMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.twoattributesofthistype.TwoAttributesOfThisTypeMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.pathsegmentheadsubclass.PathSegmentHeadSubclassMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.references"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.references.ReferencesMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.references">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.referencestransitively.ReferencesTransitivelyMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="hu.bme.mit.emf.incquery.language.examples.ecore.referencesloop.ReferencesLoopMatcherFactory$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop">
      </matcher>
   </extension>

</plugin>
