<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint.ThisIsEIntMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseintconcise.ThisIsEIntConciseMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint2.ThisIsEInt2MatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseint3nomatch.ThisIsEInt3NoMatchMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseintbuggycheckwithexpectedexception.ThisIsEIntBuggycheckWithExpectedExceptionMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisiseinttwice.ThisIsEIntTwiceMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.thisisnoteint.ThisIsNotEIntMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.hasass.HasAssMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.eclassattribute.EClassAttributeMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.numberofattributes.NumberOfAttributesMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.withtwoattributes.WithTwoAttributesMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.howmanyattributesofagiventype.HowManyAttributesOfAGivenTypeMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.twoattributesofthistype.TwoAttributesOfThisTypeMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.pathsegmentheadsubclass.PathSegmentHeadSubclassMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.references"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.references.ReferencesMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.references">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.referencestransitively.ReferencesTransitivelyMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.emf.incquery.language.examples.ecore.referencesloop.ReferencesLoopMatcherFactory"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop">
      </matcher>
   </extension>

</plugin>
