<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEIntQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEIntConciseQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntConcise">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEInt2QuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEInt2Evaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt2_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEInt3NoMatchQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEInt3NoMatchEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEInt3NoMatch_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEIntBuggycheckWithExpectedExceptionQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEIntBuggycheckWithExpectedExceptionEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntBuggycheckWithExpectedException_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsEIntTwiceQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsEIntTwice">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ThisIsNotEIntQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.thisIsNotEInt">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.HasAssQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="hu.bme.mit.emf.incquery.language.examples.ecore.util.HasAssEvaluator1_1"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.hasAss_1_1">
      </evaluator>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.EClassAttributeQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.NumberOfAttributesQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.numberOfAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.WithTwoAttributesQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.withTwoAttributes">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.HowManyAttributesOfAGivenTypeQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.howManyAttributesOfAGivenType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.TwoAttributesOfThisTypeQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.twoAttributesOfThisType">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.PathSegmentHeadSubclassQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.pathSegmentHeadSubclass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.references"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ReferencesQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.references">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ReferencesTransitivelyQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesTransitively">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.emf.incquery.language.examples.ecore.util.ReferencesLoopQuerySpecification$Provider"
            id="hu.bme.mit.emf.incquery.language.examples.ecore.referencesLoop">
      </matcher>
   </extension>

</plugin>
