<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="network.presentation.NetworkModelWizardID"
            name="%_UI_NetworkModelWizard_label"
            class="network.presentation.NetworkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NetworkModelFile.gif">
         <description>%_UI_NetworkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="network.presentation.NetworkEditorID"
            name="%_UI_NetworkEditor_label"
            icon="icons/full/obj16/NetworkModelFile.gif"
            extensions="network"
            class="network.presentation.NetworkEditor"
            contributorClass="network.presentation.NetworkActionBarContributor">
      </editor>
   </extension>

</plugin>
