<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="bpmn1.loopingActivity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.loopingactivity.LoopingActivityMatcherFactory"
            id="bpmn1.loopingActivity">
      </matcher>
   </extension>
   <extension
         id="bpmn1.badLoopingActivity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.badloopingactivity.BadLoopingActivityMatcherFactory"
            id="bpmn1.badLoopingActivity">
      </matcher>
   </extension>
   <extension
         id="bpmn1.lonelyActivity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.lonelyactivity.LonelyActivityMatcherFactory"
            id="bpmn1.lonelyActivity">
      </matcher>
   </extension>
   <extension
         id="bpmn1.hasInOrOut"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.hasinorout.HasInOrOutMatcherFactory"
            id="bpmn1.hasInOrOut">
      </matcher>
   </extension>
   <extension
         id="bpmn1.inEdge"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.inedge.InEdgeMatcherFactory"
            id="bpmn1.inEdge">
      </matcher>
   </extension>
   <extension
         id="bpmn1.outEdge"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.outedge.OutEdgeMatcherFactory"
            id="bpmn1.outEdge">
      </matcher>
   </extension>
   <extension
         id="bpmn1.sequenceFlowEdge"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.sequenceflowedge.SequenceFlowEdgeMatcherFactory"
            id="bpmn1.sequenceFlowEdge">
      </matcher>
   </extension>
   <extension
         id="bpmn1.messageFlowEdge"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.messageflowedge.MessageFlowEdgeMatcherFactory"
            id="bpmn1.messageFlowEdge">
      </matcher>
   </extension>
   <extension
         id="bpmn1.someTypeOfEvent"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.sometypeofevent.SomeTypeOfEventMatcherFactory"
            id="bpmn1.someTypeOfEvent">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStart"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstart.EventStartMatcherFactory"
            id="bpmn1.EventStart">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartEmpty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartempty.EventStartEmptyMatcherFactory"
            id="bpmn1.EventStartEmpty">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartMessage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartmessage.EventStartMessageMatcherFactory"
            id="bpmn1.EventStartMessage">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartRule"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartrule.EventStartRuleMatcherFactory"
            id="bpmn1.EventStartRule">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartTimer"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstarttimer.EventStartTimerMatcherFactory"
            id="bpmn1.EventStartTimer">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartLink"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartlink.EventStartLinkMatcherFactory"
            id="bpmn1.EventStartLink">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartMultiple"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartmultiple.EventStartMultipleMatcherFactory"
            id="bpmn1.EventStartMultiple">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventStartSignal"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventstartsignal.EventStartSignalMatcherFactory"
            id="bpmn1.EventStartSignal">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndEmpty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendempty.EventEndEmptyMatcherFactory"
            id="bpmn1.EventEndEmpty">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndMessage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendmessage.EventEndMessageMatcherFactory"
            id="bpmn1.EventEndMessage">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndError"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventenderror.EventEndErrorMatcherFactory"
            id="bpmn1.EventEndError">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndCompensation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendcompensation.EventEndCompensationMatcherFactory"
            id="bpmn1.EventEndCompensation">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndTerminate"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendterminate.EventEndTerminateMatcherFactory"
            id="bpmn1.EventEndTerminate">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndLink"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendlink.EventEndLinkMatcherFactory"
            id="bpmn1.EventEndLink">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndMultiple"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendmultiple.EventEndMultipleMatcherFactory"
            id="bpmn1.EventEndMultiple">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndCancel"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendcancel.EventEndCancelMatcherFactory"
            id="bpmn1.EventEndCancel">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEndSignal"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventendsignal.EventEndSignalMatcherFactory"
            id="bpmn1.EventEndSignal">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventEnd"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventend.EventEndMatcherFactory"
            id="bpmn1.EventEnd">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateEmpty"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediateempty.EventIntermediateEmptyMatcherFactory"
            id="bpmn1.EventIntermediateEmpty">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateMessage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatemessage.EventIntermediateMessageMatcherFactory"
            id="bpmn1.EventIntermediateMessage">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateTimer"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatetimer.EventIntermediateTimerMatcherFactory"
            id="bpmn1.EventIntermediateTimer">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateError"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediateerror.EventIntermediateErrorMatcherFactory"
            id="bpmn1.EventIntermediateError">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateCompensation"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatecompensation.EventIntermediateCompensationMatcherFactory"
            id="bpmn1.EventIntermediateCompensation">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateRule"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediaterule.EventIntermediateRuleMatcherFactory"
            id="bpmn1.EventIntermediateRule">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateLink"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatelink.EventIntermediateLinkMatcherFactory"
            id="bpmn1.EventIntermediateLink">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateMultiple"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatemultiple.EventIntermediateMultipleMatcherFactory"
            id="bpmn1.EventIntermediateMultiple">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateCancel"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatecancel.EventIntermediateCancelMatcherFactory"
            id="bpmn1.EventIntermediateCancel">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediateSignal"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediatesignal.EventIntermediateSignalMatcherFactory"
            id="bpmn1.EventIntermediateSignal">
      </matcher>
   </extension>
   <extension
         id="bpmn1.EventIntermediate"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="bpmn1.eventintermediate.EventIntermediateMatcherFactory"
            id="bpmn1.EventIntermediate">
      </matcher>
   </extension>

</plugin>
