<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="openome.Test" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:openome.Test" id="openome.Test"/>
  </extension>
  <extension id="openome.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:openome.Queries" id="openome.Queries"/>
  </extension>
</plugin>
