<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://process/1.0"
            class="process.ProcessPackage"
            genModel="model/derivedModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://operation/1.0"
            class="operation.OperationPackage"
            genModel="model/derivedModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://system/1.0"
            class="system.SystemPackage"
            genModel="model/derivedModel.genmodel"/>
   </extension>

</plugin>
