<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="teachers"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="teachers.TeachersMatcherFactory"
            id="teachers">
      </matcher>
   </extension>
   <extension
         id="coursesOfTeacher"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="coursesofteacher.CoursesOfTeacherMatcherFactory"
            id="coursesOfTeacher">
      </matcher>
   </extension>
   <extension
         id="teacherWithMostCourses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="teacherwithmostcourses.TeacherWithMostCoursesMatcherFactory"
            id="teacherWithMostCourses">
      </matcher>
   </extension>
   <extension
         id="lastYear"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="lastyear.LastYearMatcherFactory"
            id="lastYear">
      </matcher>
   </extension>

</plugin>
