<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="school.incquery.school.incquery.school.incquery.school.incquery.school.incquery.school.incquery.wellbehavedContribution"
         name=""
         point="org.eclipse.viatra2.emf.incquery.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="School"
            feature-name="numberOfTeachers"
            package-nsUri="http:///school.ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="School"
            feature-name="teachersWithMostCourses"
            package-nsUri="http:///school.ecore">
      </wellbehaving-derived-feature>
      <wellbehaving-derived-feature
            classifier-name="School"
            feature-name="lastYear"
            package-nsUri="http:///school.ecore">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="teachers"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="teachers.TeachersMatcherFactory"
            id="teachers">
      </matcher>
   </extension>
   <extension
         id="coursesOfTeacher"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="coursesofteacher.CoursesOfTeacherMatcherFactory"
            id="coursesOfTeacher">
      </matcher>
   </extension>
   <extension
         id="teacherWithMostCourses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="teacherwithmostcourses.TeacherWithMostCoursesMatcherFactory"
            id="teacherWithMostCourses">
      </matcher>
   </extension>
   <extension
         id="moreCourses"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="morecourses.MoreCoursesMatcherFactory"
            id="moreCourses">
      </matcher>
   </extension>
   <extension
         id="lastYear"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="lastyear.LastYearMatcherFactory"
            id="lastYear">
      </matcher>
   </extension>
   <extension
         id="laterYear"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="lateryear.LaterYearMatcherFactory"
            id="laterYear">
      </matcher>
   </extension>

</plugin>
