<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.util.RightHandAboveHeadQuerySpecification$Provider"
            id="bodymodel.RightHandAboveHead">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.util.RightHandAboveHeadEvaluator1_1"
            id="bodymodel.RightHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.util.RightHandAboveHead_MovingAverageQuerySpecification$Provider"
            id="bodymodel.RightHandAboveHead_MovingAverage">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.util.RightHandAboveHead_MovingAverageEvaluator1_1"
            id="bodymodel.RightHandAboveHead_MovingAverage_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.rightHandAboveHead"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.RightHandAboveHeadQuerySpecification$Provider"
            id="bodymodel.ymca.rightHandAboveHead">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.rightHandAboveHead"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.RightHandAboveHeadEvaluator1_1"
            id="bodymodel.ymca.rightHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.leftHandAboveHead"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.LeftHandAboveHeadQuerySpecification$Provider"
            id="bodymodel.ymca.leftHandAboveHead">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.leftHandAboveHead"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.LeftHandAboveHeadEvaluator1_1"
            id="bodymodel.ymca.leftHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.HandsAreCloseQuerySpecification$Provider"
            id="bodymodel.ymca.handsAreClose">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.HandsAreCloseEvaluator1_1"
            id="bodymodel.ymca.handsAreClose_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreApart"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.HandsAreApartQuerySpecification$Provider"
            id="bodymodel.ymca.handsAreApart">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreApart"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.HandsAreApartEvaluator1_1"
            id="bodymodel.ymca.handsAreApart_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreClose"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.FeetAreCloseQuerySpecification$Provider"
            id="bodymodel.ymca.feetAreClose">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreClose"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.FeetAreCloseEvaluator1_1"
            id="bodymodel.ymca.feetAreClose_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreApart"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.FeetAreApartQuerySpecification$Provider"
            id="bodymodel.ymca.feetAreApart">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreApart"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.FeetAreApartEvaluator1_1"
            id="bodymodel.ymca.feetAreApart_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedRightArm"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.StretchedRightArmQuerySpecification$Provider"
            id="bodymodel.ymca.stretchedRightArm">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedRightArm"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.StretchedRightArmEvaluator1_1"
            id="bodymodel.ymca.stretchedRightArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.bentRightArm"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.BentRightArmQuerySpecification$Provider"
            id="bodymodel.ymca.bentRightArm">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.bentRightArm"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.BentRightArmEvaluator1_1"
            id="bodymodel.ymca.bentRightArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedLeftArm"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.StretchedLeftArmQuerySpecification$Provider"
            id="bodymodel.ymca.stretchedLeftArm">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedLeftArm"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.StretchedLeftArmEvaluator1_1"
            id="bodymodel.ymca.stretchedLeftArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.bentLeftArm"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.BentLeftArmQuerySpecification$Provider"
            id="bodymodel.ymca.bentLeftArm">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.bentLeftArm"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.BentLeftArmEvaluator1_1"
            id="bodymodel.ymca.bentLeftArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.upperArmsInY"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.UpperArmsInYQuerySpecification$Provider"
            id="bodymodel.ymca.upperArmsInY">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.upperArmsInY"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.UpperArmsInYEvaluator1_1"
            id="bodymodel.ymca.upperArmsInY_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.Y"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.YQuerySpecification$Provider"
            id="bodymodel.ymca.Y">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.I"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.IQuerySpecification$Provider"
            id="bodymodel.ymca.I">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.A"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.AQuerySpecification$Provider"
            id="bodymodel.ymca.A">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.MQuerySpecification$Provider"
            id="bodymodel.ymca.M">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.MEvaluator1_1"
            id="bodymodel.ymca.M_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.MEvaluator1_2"
            id="bodymodel.ymca.M_1_2">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.Q"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.QQuerySpecification$Provider"
            id="bodymodel.ymca.Q">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.C"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.CQuerySpecification$Provider"
            id="bodymodel.ymca.C">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.C"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.CEvaluator1_1"
            id="bodymodel.ymca.C_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.C"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.CEvaluator1_2"
            id="bodymodel.ymca.C_1_2">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.FS"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.FSQuerySpecification$Provider"
            id="bodymodel.ymca.FS">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.FE"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.FEQuerySpecification$Provider"
            id="bodymodel.ymca.FE">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.BS"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.BSQuerySpecification$Provider"
            id="bodymodel.ymca.BS">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.BE"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.BEQuerySpecification$Provider"
            id="bodymodel.ymca.BE">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.SS"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.SSQuerySpecification$Provider"
            id="bodymodel.ymca.SS">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.SS"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.SSEvaluator1_1"
            id="bodymodel.ymca.SS_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.SM"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.SMQuerySpecification$Provider"
            id="bodymodel.ymca.SM">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.SM"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.SMEvaluator1_1"
            id="bodymodel.ymca.SM_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.SE"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="bodymodel.ymca.util.SEQuerySpecification$Provider"
            id="bodymodel.ymca.SE">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.SE"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.util.SEEvaluator1_1"
            id="bodymodel.ymca.SE_1_1">
      </evaluator>
   </extension>

</plugin>
