<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="bodymodel.body"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.body.BodyMatcherFactory$Provider"
            id="bodymodel.body">
      </matcher>
   </extension>
   <extension
         id="bodymodel.bodyLinks"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.bodylinks.BodyLinksMatcherFactory$Provider"
            id="bodymodel.bodyLinks">
      </matcher>
   </extension>
   <extension
         id="bodymodel.connectedBodyParts"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.connectedbodyparts.ConnectedBodyPartsMatcherFactory$Provider"
            id="bodymodel.connectedBodyParts">
      </matcher>
   </extension>
   <extension
         id="bodymodel.partsOfABody"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.partsofabody.PartsOfABodyMatcherFactory$Provider"
            id="bodymodel.partsOfABody">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.righthandabovehead.RightHandAboveHeadMatcherFactory$Provider"
            id="bodymodel.RightHandAboveHead">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.righthandabovehead.RightHandAboveHeadEvaluator1_1"
            id="bodymodel.RightHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.righthandabovehead_movingaverage.RightHandAboveHead_MovingAverageMatcherFactory$Provider"
            id="bodymodel.RightHandAboveHead_MovingAverage">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.righthandabovehead_movingaverage.RightHandAboveHead_MovingAverageEvaluator1_1"
            id="bodymodel.RightHandAboveHead_MovingAverage_1_1">
      </evaluator>
   </extension>

</plugin>
