<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="bodymodel.ymca.rightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.rightHandAboveHead"
            factoryProvider="bodymodel.ymca.righthandabovehead.RightHandAboveHeadMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.rightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.righthandabovehead.RightHandAboveHeadEvaluator1_1"
            id="bodymodel.ymca.rightHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.leftHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.leftHandAboveHead"
            factoryProvider="bodymodel.ymca.lefthandabovehead.LeftHandAboveHeadMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.leftHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.lefthandabovehead.LeftHandAboveHeadEvaluator1_1"
            id="bodymodel.ymca.leftHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose_buggy"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.handsAreClose_buggy"
            factoryProvider="bodymodel.ymca.handsareclose_buggy.HandsAreClose_buggyMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose_buggy"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.handsareclose_buggy.HandsAreClose_buggyEvaluator1_1"
            id="bodymodel.ymca.handsAreClose_buggy_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.handsAreClose"
            factoryProvider="bodymodel.ymca.handsareclose.HandsAreCloseMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreClose"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.handsareclose.HandsAreCloseEvaluator1_1"
            id="bodymodel.ymca.handsAreClose_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreApart"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.handsAreApart"
            factoryProvider="bodymodel.ymca.handsareapart.HandsAreApartMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.handsAreApart"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.handsareapart.HandsAreApartEvaluator1_1"
            id="bodymodel.ymca.handsAreApart_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreClose"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.feetAreClose"
            factoryProvider="bodymodel.ymca.feetareclose.FeetAreCloseMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.feetAreClose"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.feetareclose.FeetAreCloseEvaluator1_1"
            id="bodymodel.ymca.feetAreClose_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedRightArm"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.stretchedRightArm"
            factoryProvider="bodymodel.ymca.stretchedrightarm.StretchedRightArmMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedRightArm"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.stretchedrightarm.StretchedRightArmEvaluator1_1"
            id="bodymodel.ymca.stretchedRightArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.bentRightArm"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.bentRightArm"
            factoryProvider="bodymodel.ymca.bentrightarm.BentRightArmMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.bentRightArm"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.bentrightarm.BentRightArmEvaluator1_1"
            id="bodymodel.ymca.bentRightArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedLeftArm"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.stretchedLeftArm"
            factoryProvider="bodymodel.ymca.stretchedleftarm.StretchedLeftArmMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.stretchedLeftArm"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.stretchedleftarm.StretchedLeftArmEvaluator1_1"
            id="bodymodel.ymca.stretchedLeftArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.bentLeftArm"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.bentLeftArm"
            factoryProvider="bodymodel.ymca.bentleftarm.BentLeftArmMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.bentLeftArm"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.bentleftarm.BentLeftArmEvaluator1_1"
            id="bodymodel.ymca.bentLeftArm_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.upperArmsInY"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.upperArmsInY"
            factoryProvider="bodymodel.ymca.upperarmsiny.UpperArmsInYMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.upperArmsInY"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.upperarmsiny.UpperArmsInYEvaluator1_1"
            id="bodymodel.ymca.upperArmsInY_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.Y"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.Y"
            factoryProvider="bodymodel.ymca.y.YMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.I"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.I"
            factoryProvider="bodymodel.ymca.i.IMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.A"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.A"
            factoryProvider="bodymodel.ymca.a.AMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.M"
            factoryProvider="bodymodel.ymca.m.MMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.m.MEvaluator1_1"
            id="bodymodel.ymca.M_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.M"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.m.MEvaluator1_2"
            id="bodymodel.ymca.M_1_2">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.ymca.Q"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.Q"
            factoryProvider="bodymodel.ymca.q.QMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.C"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            id="bodymodel.ymca.C"
            factoryProvider="bodymodel.ymca.c.CMatcherFactory$Provider">
      </matcher>
   </extension>
   <extension
         id="bodymodel.ymca.C"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.ymca.c.CEvaluator1_1"
            id="bodymodel.ymca.C_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.righthandabovehead.RightHandAboveHeadMatcherFactory$Provider"
            id="bodymodel.RightHandAboveHead">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.righthandabovehead.RightHandAboveHeadEvaluator1_1"
            id="bodymodel.RightHandAboveHead_1_1">
      </evaluator>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factoryProvider="bodymodel.righthandabovehead_movingaverage.RightHandAboveHead_MovingAverageMatcherFactory$Provider"
            id="bodymodel.RightHandAboveHead_MovingAverage">
      </matcher>
   </extension>
   <extension
         id="bodymodel.RightHandAboveHead_MovingAverage"
         point="org.eclipse.viatra2.emf.incquery.xexpressionevaluator">
      <evaluator
            evaluatorClass="bodymodel.righthandabovehead_movingaverage.RightHandAboveHead_MovingAverageEvaluator1_1"
            id="bodymodel.RightHandAboveHead_MovingAverage_1_1">
      </evaluator>
   </extension>

</plugin>
