<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mit.incquery.ecorequeries.example.EcoreQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.incquery.ecorequeries.example.EcoreQueries" id="hu.bme.mit.incquery.ecorequeries.example.EcoreQueries"/>
  </extension>
</plugin>
