<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EObject"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EObjectQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EObject">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SuperTypeOfQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SuperTypeOfNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassAttributeQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassWithEStringAttributeQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithStarMultiplicityQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithStarMultiplicityNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithOneMultiplicityQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicityName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithOneMultiplicityNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicityName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SampleQueryQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SampleQuery2QuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsEString"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.IsEStringQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.IsEString">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.ECoreNamedElementQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElementName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.ECoreNamedElementNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElementName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsInECore"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.IsInECoreQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.IsInECore">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EObject"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EObjectQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EObject">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SuperTypeOfQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SuperTypeOfNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassAttributeQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EClassWithEStringAttributeQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithStarMultiplicityQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithStarMultiplicityNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithOneMultiplicityQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicityName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.EReferenceWithOneMultiplicityNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicityName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SampleQueryQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.SampleQuery2QuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsEString"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.IsEStringQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.IsEString">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.ECoreNamedElementQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElementName"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.ECoreNamedElementNameQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElementName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsInECore"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.incquery.ecorequeries.example.util.IsInECoreQuerySpecification$Provider"
            id="hu.bme.mit.incquery.ecorequeries.example.IsInECore">
      </matcher>
   </extension>

</plugin>
