<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EObject"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.eobject.EObjectMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EObject">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClass"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.eclass.EClassMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.eclassname.EClassNameMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.supertypeof.SuperTypeOfMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOf">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.supertypeofname.SuperTypeOfNameMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.SuperTypeOfName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.eclassattribute.EClassAttributeMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.eclasswithestringattribute.EClassWithEStringAttributeMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EClassWithEStringAttribute">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.ereferencewithstarmultiplicity.EReferenceWithStarMultiplicityMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.ereferencewithstarmultiplicityname.EReferenceWithStarMultiplicityNameMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithStarMultiplicityName">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.ereferencewithonemultiplicity.EReferenceWithOneMultiplicityMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.EReferenceWithOneMultiplicity">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.samplequery.SampleQueryMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.samplequery2.SampleQuery2MatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.SampleQuery2">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsEString"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.isestring.IsEStringMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.IsEString">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.ecorenamedelement.ECoreNamedElementMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.ECoreNamedElement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.incquery.ecorequeries.example.IsInECore"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="hu.bme.mit.incquery.ecorequeries.example.isinecore.IsInECoreMatcherFactory"
            id="hu.bme.mit.incquery.ecorequeries.example.IsInECore">
      </matcher>
   </extension>

</plugin>
