<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Class Metric"
            category="org.eclipse.viatra2.emf.incquery.tooling.gui"
            class="hu.bme.mit.examples.uml.incquery.databinding.demo.ClassView"
            id="hu.bme.mit.examples.uml.incquery.databinding.demo.ClassView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Load UML Model"
            id="hu.bme.mit.examples.uml.incquery.databinding.loadUMLModel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:hu.bme.mit.examples.uml.incquery.databinding.demo.ClassView">
         <command
               commandId="hu.bme.mit.examples.uml.incquery.databinding.loadUMLModel"
               label="Load"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="hu.bme.mit.examples.uml.incquery.databinding.loadUMLModel"
            class="hu.bme.mit.examples.uml.incquery.databinding.demo.handlers.LoadUMLModelHandler">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value=" org.eclipse.papyrus.infra.core.papyrusEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         id="extension.databinding.uml.sequencediagram.messageEvents"
         point="org.eclipse.viatra2.emf.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.sequencediagram.messageevents.MessageEventsDatabindingAdapter"
            patternName="uml.sequencediagram.messageEvents"
            matcherFactoryClass="uml.sequencediagram.messageevents.MessageEventsMatcherFactory">
      </databinding>
   </extension>
   <extension
         id="extension.databinding.uml.sequencediagram.propertyNumberOfClassInPackage"
         point="org.eclipse.viatra2.emf.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.sequencediagram.propertynumberofclassinpackage.PropertyNumberOfClassInPackageDatabindingAdapter"
            patternName="uml.sequencediagram.propertyNumberOfClassInPackage"
            matcherFactoryClass="uml.sequencediagram.propertynumberofclassinpackage.PropertyNumberOfClassInPackageMatcherFactory">
      </databinding>
   </extension>
   <extension
         id="extension.databinding.uml.emptyclass.emptyClass"
         point="org.eclipse.viatra2.emf.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.emptyclass.emptyclass.EmptyClassDatabindingAdapter"
            patternName="uml.emptyclass.emptyClass"
            matcherFactoryClass="uml.emptyclass.emptyclass.EmptyClassMatcherFactory">
      </databinding>
   </extension>

</plugin>
