<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="extension.databinding.uml.sequencediagram.messageEvents"
         point="org.eclipse.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.sequencediagram.MessageEventsDatabindingAdapter"
            querySpecificationClass="uml.sequencediagram.util.MessageEventsQuerySpecification"
            patternName="uml.sequencediagram.messageEvents">
      </databinding>
   </extension>
   <extension
         id="extension.databinding.uml.sequencediagram.propertyNumberOfClassInPackage"
         point="org.eclipse.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.sequencediagram.PropertyNumberOfClassInPackageDatabindingAdapter"
            querySpecificationClass="uml.sequencediagram.util.PropertyNumberOfClassInPackageQuerySpecification"
            patternName="uml.sequencediagram.propertyNumberOfClassInPackage">
      </databinding>
   </extension>
   <extension
         id="extension.databinding.uml.emptyclass.emptyClass"
         point="org.eclipse.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="uml.emptyclass.EmptyClassDatabindingAdapter"
            querySpecificationClass="uml.emptyclass.util.EmptyClassQuerySpecification"
            patternName="uml.emptyclass.emptyClass">
      </databinding>
   </extension>

</plugin>
