<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="EClassNames"
         point="org.eclipse.viatra2.emf.incquery.matcherfactory">
      <matcher
            factory="eclassnames.EClassNamesMatcherFactory"
            id="EClassNames">
      </matcher>
   </extension>

</plugin>
