<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="headless.eClassNames"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eclassnames.EClassNamesMatcherFactory$Provider"
            id="headless.eClassNames">
      </matcher>
   </extension>
   <extension
         id="headless.eObject"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eobject.EObjectMatcherFactory$Provider"
            id="headless.eObject">
      </matcher>
   </extension>

</plugin>
